@tailwind base;
@tailwind components;
@tailwind utilities;

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.link-underline-thin {
  background-size: 0 1px;
}

.link-underline-rose {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(rgb(253, 164, 175), rgb(253, 164, 175));
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%;
}

.link-underline-thin:hover {
  background-size: 100% 1px;
  background-position: 0 100%;
}
